---

---

<nav>
  <div class="max-w-5xl mx-auto px-3 py-3 flex items-center justify-between h-16">
    <a href="/" class="flex items-center space-x-2">
      <img class="w-auto h-6" src="/images/logo.png" alt="GitWit logo">
      <p class="font-sans font-bold text-gray-900 text-xl">GitWit</p>
    </a>
  </div>
  <div class="w-full border-b-2 border-black squiggle"></div>
</nav>